.wip-background-container {
    background-image: url("https://i.pinimg.com/736x/23/ad/67/23ad679bf2661b3f15b8e6badaad0cc1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Permet d'étendre au besoin */
    width: 100%;
    /* Ajoute un peu d'espace autour */
}

.wip-content-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: auto; */
    color: black;
}